<footer>
    <a target="_blank" class="navLink" href="https://www.facebook.com/people/Anna-K-Thomas/pfbid0AZApmduV16iyeZYaiN96wHpSsuNuGJKC6EZBsDU1yQSBDbBexPRUAAKnvi2bb5cWl/"><img src="/assets/img/icons/icons8-facebook-petrol.png" class="footerIcon"></a>
    <a target="_blank" class="navLink" href="https://www.amazon.de/stores/Anna-K.-Thomas/author/B073SF49JG?ref=ap_rdr&store_ref=ap_rdr&isDramIntegrated=true&shoppingPortalEnabled=true"><img src="/assets/img/icons/icons8-amazon-petrol.png" class="footerIcon"></a>
    <a class="navLink" id="imprintLink" href="/imprint.html">Impressum</a>
</footer>