<header>
  <div id="topHeader">
    <a href="/index.html">
      <img class="logo" src="/assets/img/logo/Anna-reverse-transparent.png" />
    </a>
    <div id="languageSelection">
      <a id="de" class="navLink" onclick="german()">Deutsch</a> |
      <a id="en" class="navLink" onclick="english()">English</a>
    </div>
  </div>
  <div id="subHeader">
    <div id="subHeaderTop">
      <h1 class="zeroMargin penName">Anna K. Thomas</h1>
      <h2 id="subHeaderBottom"></h2>
    </div>
  </div>
  <div class="divider"></div>
</header>
