<div id="mobileNav" class="dNone">
  <a href="/index.html">
    <img
      class="mobileLogo"
      src="/assets/img/logo/Anna-reverse-transparent.png"
    />
    <img id="closeButton" src="/assets/img/icons/close.png" onclick="closeMobileMenu()">
  </a>
  <a class="mobileNavLink" href="/index.html">Home</a>
  <a class="mobileNavLink" href="/fantasy.html">Fantasy</a>
  <a class="mobileNavLink" href="/historical.html">Historisch</a>
  <a class="mobileNavLink" href="/novellas.html">Novellen</a>
  <a class="mobileNavLink" href="/about-me.html">Über mich</a>
</div>
